.products{
	position: relative;
	top: 100px;
}
.inner-products {
	position: absolute;
	top: 110px;
	width: 100%;
}
.products {
	height: 50px;
}
.products .location {
	color: #808080;
    font-size: 14px;
}
.location .icon {
	color: #000;
}
.location .active {
	color: green;
}
.pro-contents {
	position: relative;
}
.pro-contents ul{
	list-style: none;
	margin-bottom: 50px; 
	margin-top: 20px;
}
.pro-contents ul li {
	width: 246px;
	height: 320px;
	display: inline-block;
	margin-right: 20px;
}

.pro-contents ul li:first-child { 
	position: relative;
	bottom: 20px;
}
.pro-contents .image {
	width: 246px;
	height: 246px;
	border: 1px solid #A29E9E;
}

.pro-contents ul li .description {
	width:  246px;
	height: 50px;
	font-size: 14px;
}